<h1>New Purchase</h1>

<%= render 'form' %>

<div id="postResult">
  <p id="itemName"></p>
  <p id="itemPrice"></p>
  <p id="itemQuantity"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(e) {
      //prevent form from submitting the default way
      e.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/items', values);

      posting.done(function(data) {
        var item = data;
        debugger;
        $("#itemName").text(item["name"]);
        $("#itemPrice").text("$" + item["price"]);
        $("#itemQuantity").text(item["quantity"]);
      });
    });
  });
</script>
