<h1>New Item</h1>

<%= render 'form' %>

<div id="postResult">
  <p id="itemName"></p>
  <p id="itemPrice"></p>
  <p id="itemQuantity"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(e) {
      //prevent form from submitting the default way
      e.preventDefault();

      let values = $(this).serialize();

      let posting = $.post('/items', values);

      posting.done(function(data) {
        var item = data;
        $("#item_name").val("")
        $("#item_price").val("")
        $("#item_quantity").val("")

        $("#itemName").text("Name: " + item["name"]);
        $("#itemPrice").text("Price: $" + item["price"]);
        $("#itemQuantity").text("Quantity: " + item["quantity"]);
      });
    });
  });
</script>
